<div>
  <h3>Abonnement <%= subs_booking.subscription.name %></h3>
  <h3>Valable du <%= subs_booking.start_date.strftime("%d/%m/%Y") %> au <%= subs_booking.end_date.strftime("%d/%m/%Y") %></h3>
  <h3>Tarif : <%= subs_booking.subscription.price %>€</h3>
</div>
