<p>Abonnement <%= subs_booking.subscription.name %></p>
<p>Du <%= subs_booking.start_date.strftime("%d/%m/%Y") %> au <%= subs_booking.end_date.strftime("%d/%m/%Y") %></p>
<p><%= subs_booking.subscription.price %>€</p>
