<div class="banner">
    <i id="burger" class="fas fa-bars"></i>
    <%= image_tag "logo.png", alt: "Sapio" %>
</div>
<h1>Vos abonnements</h1>

<% @subs_bookings.each do |subs_booking| %>
  <%= render 'subs_booking_details', subs_booking: subs_booking %>
  <p><%= link_to 'Facture', subs_booking_path(subs_booking)%></p>
<% end %>

<p><%= link_to 'Prendre un nouvel abonnement', new_subs_booking_path %></p>

<div class="padding-bottom-page"></div>
