<h1>Vos abonnements</h1>

<% current_user.subs_bookings.order(end_date: :desc).each do |subs_booking| %>
  <%= render 'subs_booking_details', subs_booking: subs_booking %>
  <p><%= link_to 'Facture', subs_booking_path(subs_booking)%></p>
<% end %>
