<div class="banner justify-content-center">
    <%= image_tag "logo.png", alt: "Sapio" %>
</div>
<h1 class="text-center mt-3">Votre facture</h1>

<div style="padding:16px">
  <%= render 'subs_booking_details', subs_booking: @subs_booking %>
</div>

<div class="padding-bottom-page"></div>
