<div class="banner">
  <div class="text-in-banner">
    <h1 >Mes favoris</h1>
  </div>
</div>

<%= render 'activities/list_activities', activities: current_user.activities %>
<div class="padding-bottom-page"></div>
