<div class="banner justify-content-center">
    <%= image_tag "logo.png", alt: "Sapio" %>
</div>
<h1 class="text-center mt-3">Mes favoris</h1>

<%= render 'activities/list_activities', activities: current_user.activities %>
<div class="padding-bottom-page"></div>
