<div class="banner">
    <i id="burger" class="fas fa-bars"></i>
    <%= image_tag "logo.png", alt: "Sapio" %>
</div>
<h1 >Mes favoris</h1>

<%= render 'activities/list_activities', activities: current_user.activities %>
<div class="padding-bottom-page"></div>
