<div class="banner">
  <div class="text-in-banner">
    <h1>Vos Pass</h1>
  </div>
</div>

<div class="container">
  <% @act_bookings.each do |booking| %>
    <div class="card-text">
      <%= cl_image_tag booking.activity.photo_one %>
      <div class="card-text-infos">
        <h2><%= link_to booking.activity.name, activity_act_booking_path(booking.activity, booking) %></h2>
        <p><%= booking.activity.category %></p>
        <p>Date: <%= booking.date %></p>
      </div>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<div class="padding-bottom-page"></div>
