<div class="banner">
  <div class="text-in-banner">
    <h1>Votre Pass</h1>
    <h2 class="text-white">Bonne visite !</h2>
  </div>
</div>

<div>
  <%= @qrcode.as_svg.html_safe %>
</div>

<div class="padding-bottom-page"></div>
