body {
  background-color: #FFFFFF;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  padding-left: 15px;
}

h2 {
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

p {
  font-family: ‘Open Sans’, sans-serif;
  font-size: 14px;
}


 // h1

.activity-h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: black;
  padding-top: 14px;
}

// h2

.activity-h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-top: 7px;
}

// p

.activity-p {
  font-family: ‘Open Sans’, sans-serif;
  font-size: 14px;
  padding-top: 7px;
  width: 300px;
  text-align: justify;
  margin: 7px;
}

.activity-rating-category {
  padding-top: 7px;
}


#activity-category {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-indent: 15px;
  color: #000000;
}

.pass-h1 {
  text-align: center;
  padding-top: 14px;
}

.act-booking-show-h1 {
  text-align: center;
  padding-top: 14px;
  margin-bottom: 34px;
}

.act-booking-show-h2 {
 font-size: 20px;
 padding-left: 0px;
}


.act-booking-show-p {
 font-size: 14px;
 font-weight: bolder;
 color: #b2b0b0;
}

.horizontal-scroll {
  overflow-x: scroll;
  display: flex;
  margin-bottom: 15px;
  -webkit-overflow-scrolling: touch;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.horizontal-scroll > *{
  flex: 1 0 auto;
}

.padding-bottom-page {
  padding-bottom: 85px;
}

.activity-title {
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    height: 3px;
    flex: 1;
    margin: 0 8px;
  }
}

.activity-title-opera span {
  background-color: #7634AA;
}

.activity-title-museum span {
  background-color: #fb9d6d;
}

.activity-title-concert span {
  background-color: #D45058;
}

.activity-title-cinema span {
  background-color: #50C5D4;
}

.activity-title-theatre span {
  background-color: #f9cb4c;
}
