body {
  background-color: #FFFFFF;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  padding-left: 15px;
}

h2 {
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

p {
  font-family: ‘Open Sans’, sans-serif;
  font-size: 14px;
}


 // h1

.activity-h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: black;
  padding-top: 14px;
}

// h2

.activity-h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-top: 24px;
}

// p

.activity-p {
  font-family: ‘Open Sans’, sans-serif;
  font-size: 14px;
  padding-top: 24px;
  width: 300px;
  text-align: justify;
  margin: 7px;
}

.activity-rating-category {
  padding-top: 14px;
}


#activity-category {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-indent: 15px;
  color: #000000;
}

.horizontal-scroll {
  overflow-x: scroll;
  display: flex;
  margin-bottom: 15px;
  -webkit-overflow-scrolling: touch;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.horizontal-scroll > *{
  flex: 1 0 auto;
}

.padding-bottom-page {
  padding-bottom: 85px;
}
