.btn-flat-green {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #24AFA0;
  transition: background 0.3s ease;
  width: 175px;
}

.btn-flat-purple {
  color: white;
  padding: 8px 10px;
  margin: 10px 10px;
  border-radius: 4px;
  background: #3700B3;
  transition: background 0.3s ease;
  width: 300px;
}


.mini-btn-flat-purple {
  color: white;
  padding: 8px 10px;
  margin: 10px 10px;
  border-radius: 4px;
  background: #3700B3;
  transition: background 0.3s ease;

}

input.btn {
  color: white !important;
}

