.card-text-home {
  width: 150px;
  height: 140px;
  margin-right: 4px;
  margin-left: 4px;
  position: relative;
  color: white;
}

.rating {
  font-size: 14px;
  vertical-align: sub;
}

.card-text {
  overflow: hidden;
  height: 140px;
  width: 150px;
  background: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-bottom: 8px;
}

.card-text img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
 }

.card-text-pass {
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-bottom: 8px;
  position: relative;
}

.card-text-pass img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
 }

 .card-text-infos-pass {
  padding-left: 6px;
  padding-right: 6px;
  width: 100%;
  position: absolute;
  bottom: 4px;
}

.card-text-infos-pass h2 {
  padding-left: 0;
  color: white;
}

.card-text-infos-pass p {
  color: white;
  margin-bottom: 0;
}

.card-text-infos-pass a {
  color: white;
}

.card-text-infos h2 {
  color: white;
}

.card-text-infos p {
  color: white;
}

.card-text-infos {
  padding-left: 6px;
  padding-right: 6px;
  width: 100%;
  position: absolute;
  bottom: 4px;
}


.card-text h2 {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0;
  padding: 0px;
}

.card-text p {
  font-size: 14px;
  margin-bottom: 0;

}

.card-text a {
  color: #FFFFFF;
  text-decoration: none;
}

.card-index-pass {
  overflow: hidden;
  height: 88px;
  background: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  align-items: left;
  margin-bottom: 8px;
  padding: 10px;
  position: relative;
}

.card-index-pass img {
  height: 100%;
  width: 70px;
  object-fit: cover;
  border-radius: 4px;
}

.card-index-pass .card-index-pass-infos {
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
  bottom: 0px;
  top: 10px;
  left: 100px;
}

.card-index-pass a {
  text-decoration: none;
  color: black;
}

.card-index-pass h2 {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin: 0;
  padding: 0px;
}

.card-index-pass p {
  font-size: 14px;
  margin-bottom: 0;
}

.fa-star {
  color: #24AFA0;
}

#grey-fa-star {
  color: #E5E5E5;
}

.profile {
  height: 56px;
  padding: 8px;
  margin: 8px;
}

.profile img {
  width: 40px;
  height: auto;
  margin-right:8px;
}

.profile .subscription {
  height: 80px;
}

.subscription {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 8px 0;
  overflow: hidden;
  background: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.subscription > p {
  margin: 0px;
}

.subscription h3 {
  font-size: 18px;
  font-weight: 900!important;
}

