.category-orange {
  display: flex;
  height: 80px;
  width: 80px;
  background-color: #FB9D6D;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.category-blue {
  display: flex;
  height: 80px;
  width: 80px;
  background-color: #50C5D4;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.category-yellow {
  display: flex;
  height: 80px;
  width: 80px;
  background-color: #f9cb4c;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.category-red {
  display: flex;
  height: 80px;
  width: 80px;
  background-color: #D45058;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.category-purple {
  display: flex;
  height: 80px;
  width: 80px;
  background-color: #7634AA;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.category a {
  text-decoration: none;
  color: white;
}
