.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.categoryCheckbox {
  display: none;
}

.categoryLabel, .filterChoice, #distanceDropdownList {
  background-color: rgb(76, 176, 161);
  color: white;
  margin: 4px auto;
  width:100%!important;
  padding: 10px;
  opacity: 0.65;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
    // &:hover {
    //   opacity: 0.75;
    // }
    &.active {
      opacity: 1;
    }
}

#distanceDropdownList {
  -webkit-appearance: none;
  // appearance: none;
  // -webkit-text-align: center;
  // -webkit-text-align-last: center!important;
  // text-align-last: -webkit-center!important;
  // text-align: -webkit-center!important;
  text-align-last: center;
  border: none;
  border-radius: 0;

}

input.categoryCheckbox, input[type="radio"]{
  display: none!important;
}

input.categoryCheckbox:checked + label {
// sélectionne le label juste après la balise input de classe categoryCheckbox qui est checked
  opacity: 1;
}

// input[type="radio"]:checked + label {
//   display: none !important;
//   opacity: 1;
// }

.filtering {
  font-size:18px;
  text-transform:uppercase;
  font-weight:400;
  padding-left: 0px;
  padding-bottom: 8px;
  margin-top: 16px;
  color: gray;
}

#ModalSubmitFilter {
    padding: 10px 40px;
    background-color: #4cb0a1;
    box-shadow: none!important;
    border: none;
    color: white;
    font-style: bold;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:18px;
}

input#ModalSubmitFilter{
  margin:0 auto!important;
  text-align:center;
}


.filterChoice {
  width: 30%;
}

label.categoryLabel {
  border-radius: inherit;
  position: relative;
  height: inherit;
  font-size: inherit;
  top: 0;

  &.musee {
    background-color: rgb(241, 136, 90);
  }

  &.concert {
    background-color: rgb(212, 80, 88);
  }

  &.cinema {
    background-color: rgb(83, 197, 212);
  }

  &.theatre{
    background-color: #f9cb4c;
  }

  &.opera {
    background-color: rgb(118, 52, 170);
  }
}


