.fa-times-retour {
  color: white;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 26px;
}

.delete-croix .fa-times-delete {
  i.fa-times {
   color: black;
  }
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 20px;
}

#carouselExampleIndicators {
  position: relative;
}

.delete-croix {
  position: relative;
}
