.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.toggle-map-button {
    width: 60px;
    height: 60px;
    background: #3700b3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    color: white;
    bottom: 112px;
    right: 20px;
    font-size: 1.5em;
}
