.fa-map-pin.concert {
  color: #D45058;
  // opacity: 0.74;
}

.fa-map-pin.theatre {
  color: #F5E761;
  // opacity: 0.74;
}

.fa-map-pin.cinema {
  color: #50C5D4;
  // opacity: 0.74;
}

.fa-map-pin.musee {
  color: #D48750;
  // opacity: 0.74;
}
