// .fa-map-pin.concert {
//   color: #D45058;
//   font-size: 32px;
//   // opacity: 0.74;
// }

.concert-map-pin {
  color: #D45058;
  font-size: 32px;
}

.musee-map-pin {
  color: #ff8a5c;
  font-size: 32px;
}

.theatre-map-pin {
  color: #F5E761;
  font-size: 32px;
}

.cinema-map-pin {
  color: #50C5D4;
  font-size: 32px;
}

.opera-map-pin {
  color: #7634AA;
  font-size: 32px;
}

// .fa-map-pin.theatre {
//   color: #F5E761;
//   font-size: 32px;
//   // opacity: 0.74;
// }

// .fa-map-pin.cinema {
//   color: #50C5D4;
//   font-size: 32px;
//   // opacity: 0.74;
// }

// .fa-map-pin.musee {
//   color: #ff8a5c;
//   font-size: 32px;
//   // opacity: 0.74;
// }

// .fa-map-pin.opera{
//   color: #7634AA;
//   font-size: 32px;
//   // opacity: 0.74;
// }
