.fa-map-pin.concert {
  color: #D45058;
  font-size: 32px;
  // opacity: 0.74;
}

.fa-map-pin.theatre {
  color: #F5E761;
  font-size: 32px;
  // opacity: 0.74;
}

.fa-map-pin.cinema {
  color: #50C5D4;
  font-size: 32px;
  // opacity: 0.74;
}

.fa-map-pin.musee {
  color: #D48750;
  font-size: 32px;
  // opacity: 0.74;
}

.fa-map-pin.opera{
  color: #7634AA;
  font-size: 32px;
  // opacity: 0.74;
}
