.navbar{
  position: fixed;
  background: white;
  bottom: 0px;
  width: 100%;
  line-height: 30px;
  padding-left: 15px;
  padding-bottom: 25px;
  padding-top: 25px;
  z-index: 1000;
  }

.navbar a {
  text-decoration: none;
  color: grey;
}

.navbar i {
  color: #E5E5E5;
  font-size: 24px;
}

#navbar {
  border-top: 1px solid #dddddd;
}

