.navbar-max {
  background: white;
  position: fixed;
  top: 60px;
  width: 50%;
  height:100%;
  line-height: 30px;
  padding-left: 15px;
  opacity: 0.9;
  z-index: 1000;
  }

.navbar-max a {
  text-decoration: none;
  color: black;
}

.navbar-max i {
  color: #E5E5E5;
  font-size: 24px;
}

#navbar-max {
  border-top: 1px solid #dddddd;
}

.navbar-hidden {
  display: none;
}
