.pictogramme {
  position: absolute;
  z-index: 1;
  top: 125px;
  right: 14px;
}

#carouselExampleSlidesOnly {
  position: relative;
}


.museum {
  width: 50px;
  height: 20px;
  background-color: #FF8A5C;
  color: white;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  top: 17px;
  right: 2px;
  text-align: center;
  border-radius: 4px;
}

.theatre {
  width: 50px;
  height: 20px;
  background-color: #F5E761;
  color: white;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  top: 17px;
  right: 2px;
  text-align: center;
  border-radius: 4px;
}

.cinema {
  width: 50px;
  height: 20px;
  background-color: #50C5D4;
  color: white;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  top: 17px;
  right: 2px;
  text-align: center;
  border-radius: 4px;
}

.concert {
  width: 50px;
  height: 20px;
  background-color: #D45058;
  color: white;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  top: 17px;
  right: 2px;
  text-align: center;
  border-radius: 4px;
}

.opera {
  width: 50px;
  height: 20px;
  background-color: #7634AA;
  color: white;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  top: 17px;
  right: 2px;
  text-align: center;
  border-radius: 4px;
}
