// Stars from review modal
.br-theme-css-stars .br-widget a.br-selected:after {
  color: #24AFA0 !important;
}

.br-theme-css-stars .br-widget a.br-active:after {
  color: #24AFA0 !important;
}

h5 {
    font-family: 'Roboto';
}

#exampleModalLabel {
  text-align: center;
}

.br-widget a {
  font-size: 40px !important;
}
