<div>
  <h2><%= place.name %></h2>
  <p><%= place.address %></p>
  <% Activity.where(place_id: place.id).each do |activity| %>
    <%= link_to activity_path(activity) do %>
      <p><%= activity.name %></p>
    <% end  %>
  <% end %>
</div>


