<div class="container">
  <% activities.each do |activity| %>
    <div class="card-text">
      <%= cl_image_tag activity.photo_one %>
      <div class="card-text-infos">
        <h2><%= link_to activity.name, activity_path(activity) %></h2>
        <p><%= activity.category %></p>
        <p><%= activity.avg_rating %></p>
      </div>
    </div>
  <% end %>
</div>
