<div class="banner">
  <div class="text-in-banner">
    <h1>Vos critères</h1>
  </div>
</div>

<div class="container">
  <form id="filterSortForm" action="/activities/filter_sort", method="get">
    <h2>Sélectionnez une catégorie</h2>
      <label for="selectAllCategories" id="selectAllCategoriesLabel">Tout sélectionner</label>
      <input type="checkbox" id="selectAllCategories" class="categoryCheckbox" name="selectAll">
      <% @categories.each do |category| %>
        <div>
          <input type="checkbox" class="categoryCheckbox" value="<%= "#{category}" %>" name="category_<%= "#{category}" %>">
          <!-- value="<%#= @categories.index("#{category}")" %> => index de @categories -->
          <%= category %>
        </div>
      <% end %>

      <!-- <h2>Sélectionnez un endroit</h2>
        <label for="selectAllPlaces" id="selectAllPlacesLabel">Tout sélectionner</label>
        <input type="checkbox" id="selectAllPlaces" class="placeCheckbox" name="selectAll">
        <%# @places.each do |place| %>
          <div>
            <input type="checkbox" class="placeCheckbox" value="<%#= "#{place.name}" %>" name="place_<#%= "#{place.name}" %>">
            <%#= place.name %>
          </div>
       <%# end %> -->

    <h2>Trier par</h2>
      <div>
        <input type="radio" id="sortEndDate" name="sort" value="end_date">Date de fin
        <input type="radio" id="sortRating" name="sort" value="avg_rating">Note
        <input type="radio" id="sortName" name="sort" value="name">Nom

        <div>
          <input onclick="getLocation()" type="radio" id="sortDistance" name="sort" value="distance">Distance :
          <!-- à moins de <input type="text" id="sortAround" name="sort" value="20" placeholder="20">km de moi -->
          <select onclick="getLocation()" class="dropDownList" name="distanceFromMe">
            <option value="10000">Pas de restrictions</option>
            <option value="3">>A moins de 3 km de moi</option>
            <option value="5">>A moins de 5 km de moi</option>
            <option value="10">>A moins de 10 km de moi</option>
            <option value="15">>A moins de 15 km de moi</option>
          </select>
        </div>

        <input style="visibility:hidden" type="radio" id="longitudeUser" name="longitude" value="" checked>
        <input style="visibility:hidden" type="radio" id="latitudeUser" name="latitude" value="" checked>

        <!-- id unique pour qu'on ne puisse sélectionner qu'une seule radio -->
        <!-- name = clé qu'on récupère dans les params -->
        <!-- value = valeur de la clé qu'on récupère dans les params -->
      </div>

    <input type="submit" value="Send Request" id="ModalSubmit">
  </form>
</div>


